{% load static %}


<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block head_title %}SF Home Decor{% endblock %}</title>

   {% include 'head_css.html' %}
  </head>

  <body>

    {% include 'navbar.html' %}


    {% block jumbotron  %}

    {% endblock %}

    {% block content %}

    {% endblock %}

<!-- FOOTER STARTS -->
    {% include 'footer.html' %}
<!-- END FOOTER  -->

    {% include 'javaScript.html' %}
    <script >
        $(document).ready(function() {

            {% block jquery %}
            {% endblock %}
        })
    </script>
  </body>
</html>
