<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
      <a class="navbar-brand" href="#">SF Home Decor</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample06" aria-controls="navbarsExample06" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample06">
        <ul class="navbar-nav">
            <!-- <li class="nav-item active ">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown06" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu" aria-labelledby="dropdown06">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li> -->
            <form class="form-inline my-8 my-md-0">
                <input class="form-control" type="text" placeholder="Search">
            </form>
            {% if request.user.is_authenticated %}
            <li class="nav-item navbar-right">
                <a class="nav-link" href="{% url 'auth_logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link"  href="{% url 'registration_register' %}">Register</a>
            </li>
            {% if not request.user.is_authenticated and not "/accounts/login" in request.get_full_path %}
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Login <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <form class='navbar-form' method='POST' action='{% url "auth_login" %}'>
                        {% csrf_token %}
                        <div class='form-group'>
                            <input type='text' class='form-control' name='username' placeholder='Username' />
                        </div>
                        <div class='form-group'>
                            <input type='password' class='form-control' name='password' placeholder='Password' />
                        </div>
                        <button type='submit' class='btn btn-primary text-center'>Login</button>
                    </form>
                    <p class='text-center'><a href='{% url "auth_password_reset" %}'>Forgot password?</a></p>
                </ul>
           </li>
                {% endif %}
            {% endif %}
        </ul>

      </div>
    </nav>
