{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}



{% block content %}


{% if not user_can_continue %}
<div class="row">
<div class="col-sm-6 text-center">
    <p class="lead">Continue as Guest</p>
</div>
<div class="col-sm-6">
    <p class="lead">Login to Continue</p>
<form method="POST" action="{% url 'auth_login' %}">
    {% csrf_token %}
    {{ login_form|crispy }}
    {{ next_url }}
    <input type="hidden" name='next' value="{{ next_url }}" />
    <input type="submit" class="btn btn-primary" value="Login">

    <p>{% trans "Forgot your password?" %} <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>.</p>
    <p>{% trans "Not a member?" %} <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>.</p>
</form>
</div>
</div>
{% endif %}
{% endblock %}
